* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
}

textarea,
div {
  padding: 3rem;
  padding-left: calc(3rem + 1ch);
  margin: auto;
  resize: none;
  height: 100vh;
  background: transparent;
  color: white;
  font-family: monospace;
  font-size: 2rem;
  border: none;
  outline: none;
}

div {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  padding: 3rem;
  padding-left: calc(3rem + 1ch);
  overflow-wrap: anywhere;
  color: transparent;
}

textarea:not(.ready-to-edit) {
  opacity: 0;
}

input {
  position: fixed;
  top: 0.75rem;
  left: 0.75rem;
  padding: 0.25rem;
  display: none;
}

@media (max-width: 550px) {
  textarea,
  div {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
