* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
}

textarea {
  padding: 3rem;
  padding-left: calc(3rem + 1ch);
  margin: auto;
  resize: none;
  height: 100vh;
  background: transparent;
  color: white;
  font-family: monospace;
  font-size: 2rem;
  border: none;
  outline: none;
}

textarea:not(.ready-to-edit) {
  opacity: 0;
}
