* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: white;
}

textarea {
  padding: 3rem;
  resize: none;
  width: 100%;
  height: 100vh;
  background: #333;
  color: white;
  font-family: monospace;
  font-size: 2rem;
  border: none;
  outline: none;
}
